.avatar {
    border-radius: 9px;
    object-fit: cover;
    max-width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#scrollspyheading1 {
    margin-top: 100px;
}
.logo {
    width: 80px;
    border-radius: 20px;
}
.custom-container {
    max-width: 700px;
    border-radius: 9px;
}
.skillscontainer {
    background-color: rgb(233, 240, 250);
    border-radius: 15px;
}

.desaturated {
    filter: grayscale(100%);
}

.logo-container {
    background-color: rgb(255, 255, 255);
    width: 80px;
    border-radius: 15px;
    margin: 0 auto; /*center*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    height: 100vh;
    display: flex;
    align-items: center;
}

.skills1 {
    background-color: rgb(233, 240, 250);
    width: 100vw;
    position: relative;

}

.test1{
    background-color: brown;
    padding: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}
}